
<div class="row">
    <div class="col-sm-12" id="taxonomy-list">
        <h4 class="page-title">Taxonomy Management</h4>
        <ul>
          {{range .list}}
          <li><a href="/api/taxonomy/{{.ID}}/children" class="taxonomy">{{.Name}}</a></li>
          {{end}}
          <li class="add"><a class="add-taxonomy" href="/api/taxonomy/add">Add</a></li>
        </ul>
    </div>
</div>
