{{ define "view-head-scripts-taxonomy/list" }}
  <script src="/assets/js/taxonomy.js"></script>
{{ end }}

{{ define "view-stylesheets-taxonomy/list" }}
  <link href="/assets/css/taxonomy.css" rel="stylesheet" type="text/css" />
{{ end }}
