<!-- HOME -->
<section class="home bg-img-1" id="home">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="home-fullscreen">
          <div class="full-screen">
            <div class="home-wrapper home-wrapper-alt">
              <h2 class="font-light text-white">Uniting students, families and learning</h2>
              <h4 class="text-white">For Family who want to contribute to their child's education success, Cohesion Education is a video library that allows parents to proactively contribute to their child's education. Unlike YouTube, Khan Academy, IXL our Product is trustworthy, accurate, relevant, and tailored to your child's needs</h4>
              <a href="/register" class="btn btn-custom">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END HOME -->
