<!-- HOME -->
<section class="home bg-img-1" id="home">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="home-fullscreen">
          <div class="full-screen">
            <div class="home-wrapper home-wrapper-alt">
              <h2 class="font-light text-white">{{.HeaderTagline}}</h2>
              <h4 class="text-white">{{.HeaderSubtext}}</h4>
              <a href="/register" class="btn btn-custom btn-login">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END HOME -->
