<!-- HOME -->
<section class="home bg-img-1" id="home">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="home-fullscreen">
          <div class="full-screen">
            <div class="home-wrapper home-wrapper-alt">
              <h2 class="font-light text-white">Uniting Students and Families in Learning</h2>
              <h4 class="text-white">Cohesion Education is an online platform for families wanting to proactively contribute to the educational success of their child.  Unlike other “one size fits all” resources for parents in support of learning, our interactive product provides a trustworthy, accurate, and relevant solution tailored for the individual child.  We have the opportunity to be the new standard of parental involvement in education.</h4>
              <a href="/register" class="btn btn-custom btn-login">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END HOME -->
