{{ define "pricing-homepage/index" }}
<!-- PRICING -->
<section class="section" id="pricing">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="title">Pricing</h3>
                <p class="text-muted sub-title">Quick and easy signup. Affordable with no obligations - Cancel at any time</p>
            </div>
        </div> <!-- end row -->


        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">

                    <!--Pricing Column-->
                    <article class="pricing-column col-lg-4 col-md-4">
                        <div class="inner-box">
                            <div class="plan-header text-center">
                                <h3 class="plan-title">Trial</h3>
                                <h2 class="plan-price">Free!</h2>
                                <div class="plan-duration">14 days</div>
                            </div>
                            <!--ul class="plan-stats list-unstyled">
                                <li> <i class="pe-7s-server"></i>Number of end products <b>1</b></li>
                                <li> <i class="pe-7s-graph"></i>Customer support</li>
                                <li> <i class="pe-7s-mail-open"></i>Free Updates</li>
                                <li> <i class="pe-7s-tools"></i>24x7 Support</li>
                            </ul-->
                            <div class="text-center">
                                <a href="/purchase" class="btn btn-sm btn-custom">Purchase Now</a>
                            </div>
                        </div>
                    </article>


                    <!--Pricing Column-->
                    <article class="pricing-column col-lg-4 col-md-4">
                        <div class="inner-box active">
                            <div class="plan-header text-center">
                                <h3 class="plan-title">One Child</h3>
                                <h2 class="plan-price">$10</h2>
                                <div class="plan-duration">Monthly</div>
                            </div>
                            <!--ul class="plan-stats list-unstyled">
                                <li> <i class="pe-7s-server"></i>Number of end products <b>1</b></li>
                                <li> <i class="pe-7s-graph"></i>Customer support</li>
                                <li> <i class="pe-7s-mail-open"></i>Free Updates</li>
                                <li> <i class="pe-7s-tools"></i>24x7 Support</li>
                            </ul-->
                            <div class="text-center">
                                <a href="/purchase" class="btn btn-sm btn-custom">Purchase Now</a>
                            </div>
                        </div>
                    </article>


                    <!--Pricing Column-->
                    <article class="pricing-column col-lg-4 col-md-4">
                        <div class="inner-box">
                            <div class="plan-header text-center">
                                <h3 class="plan-title">&gt; One Child</h3>
                                <h2 class="plan-price">$15</h2>
                                <div class="plan-duration">Monthly</div>
                            </div>
                            <!--ul class="plan-stats list-unstyled">
                                <li> <i class="pe-7s-server"></i>Number of end products <b>1</b></li>
                                <li> <i class="pe-7s-graph"></i>Customer support</li>
                                <li> <i class="pe-7s-mail-open"></i>Free Updates</li>
                                <li> <i class="pe-7s-tools"></i>24x7 Support</li>
                            </ul-->

                            <div class="text-center">
                                <a href="/purchase" class="btn btn-sm btn-custom">Purchase Now</a>
                            </div>
                        </div>
                    </article>

                </div>
            </div><!-- end col -->
        </div>
         <!-- end row -->

    </div> <!-- end container -->
</section>
<!-- End Pricing -->
{{ end }}
