{{ define "testimonials-homepage/index" }}
<!-- Testimonials section -->
<section class="section bg-img-1">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="owl-carousel text-center">
                    <div class="item">
                        <div class="testimonial-box">
                            <h4>Excellent support for a tricky issue related to our customization of the template. Author kept us updated as he made progress on the issue and emailed us a patch when he was done.</h4>
                            <img src="/assets/images/user.jpg" class="testi-user img-circle" alt="testimonials-user">
                            <p>- Satisfied Parent</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-box">
                            <h4>Flexible, Everything is in, Suuuuuper light, even for the code is much easier to cut and make it a theme for a productive app..</h4>
                            <img src="/assets/images/user2.jpg" class="testi-user img-circle" alt="testimonials-user">
                            <p>- Satisfied Parent</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-box">
                            <h4>Not only the code, design and support are awesome, but they also update it constantly the template with new content, new plugins. I will buy surely another coderthemes template!</h4>
                            <img src="/assets/images/user3.jpg" class="testi-user img-circle" alt="testimonials-user">
                            <p>- Satisfied Parent</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Testimonials section -->
{{ end }}
