<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A place for Cohesion Education Site Administration">
    <meta name="author" content="Cohesion Education, Inc">

    <link rel="shortcut icon" href="assets/images/favicon_1.ico">

    <title>Cohesion Education</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/login.css" rel="stylesheet" type="text/css" />

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/auth0.min.js"></script>
    <script src="/assets/js/auth0-variables.js"></script>
    <script src="/assets/js/login.js"></script>
</head>
<body>
  <img id="logo" src="/assets/images/cohesion-logo.png" alt="Cohesion Education Logo"/>
  <div class="container">
    <div class="form-signin">
      <img id="btn-google" src="/assets/images/google/web/2x/btn_google_signin_dark_normal_web@2x.png" alt="Login with Google" />
      <!--button
        class="btn btn-lg btn-danger"
        type="button"
        id="btn-google">
          Log In with Google
      </button-->
    </div>

    <div class="form-signin logged-in">
      <button
        class="bton btn-lg btn-default btn-block"
        type="button"
        id="btn-logout">
          Log out
      </button>
    </div>
  </div>
</body>
</html>
