#taxonomy-list ul {
  list-style:circle;
  margin-top: 1em;
}

#taxonomy-list ul li{
  padding: 0.5em 0;
}

#taxonomy-list ul li a{
  font-size: 2.2em;
}

#taxonomy-list ul li.add {
  list-style:none;
}

a.add-taxonomy {
  font-size: 1em;
}

.page-title {
  margin-bottom: 1em;
}

a.view-control {
  text-decoration: underline;
  cursor: pointer;
}

a.disabled {
  text-decoration: none;
  cursor: text;
}
