section {
  position: relative;
  margin-top: 1em;
  margin-bottom: 2em;
}

h4 {
  display:inline;
}

a.management-action {
  float:right;
}

#errors {
  margin: 0.3em;
  border:1px solid red;
  font-weight:bold;
  color:red;
  padding: 0.3em;
  display: none;
}

.progress{
  width: 38em;
}

form#video {
  width: 30em;
}


select.sub-category{
  margin-top:0;
  margin-left:1em;
}
