
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Add new Video</h4>
        <form id="video" method="post" action="/api/video" enctype="multipart/form-data">
          <input type="text" name="title" placeholder="Title">
          <select id="top-level-categories" name="taxonomy_id">
            <option value="">- Category -</option>
          </select>
          <input type="file" name="video_file">
          <input type="submit" value="Save">
        </form>
    </div>
</div>
