<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">
      {{if .video.ID}} Edit {{ else }} Add New {{ end }} Video
    </h4>
    <div id="progressbar"></div>
    <div id="errors"></div>
    <form id="video" method="{{if .video.ID}}put{{ else }}post{{ end }}" action="/api/video" enctype="multipart/form-data">
      <input type="text" name="title" placeholder="Title" value="{{.video.Title}}">
      <select id="top-level-categories" name="taxonomy_id">
        <option value="">- Category -</option>
      </select>
      <input type="file" name="video_file">

      <input type="hidden" name="id" value="{{.video.ID}}">
      <input type="hidden" id="selected_taxonomy_id" value="{{.video.TaxonomyID}}">
      <input type="submit" value="Save">
    </form>
  </div>
</div>
