<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Video Management</h4>
        <a href="/admin/video/add">Add new Video</a>
        <table class="video">
          <tr>
            <th></th>
            <th>Date Created</th>
            <th>Category</th>
            <th>Created By</th>
          </tr>
          {{range .list}}
          <tr>
            <td><a href="/admin/video/{{.ID}}" >{{.Title}}</a></td>
            <td>{{.Created}}</td>
            <td>{{.TaxonomyID}}</td>
            <td>{{.CreatedBy.FullName}}</td>
          </tr>
          {{end}}
        </table>
    </div>
</div>
