<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "favicons" }}
    <title>Cohesion Education</title>
    {{ partial "dashboard-stylesheets" }}
    {{ partial "dashboard-head-scripts" }}
</head>
<body class="fixed-left">
  {{ yield }}

  {{ partial "dashboard-footer-scripts"}}
</body>
</html>
