{{ define "topbar" }}
<!-- Top Bar Start -->
<div class="topbar">
  <!-- LOGO -->
  <div class="topbar-left">
    <div class="logo">
        <a href="#" class="open-left">
          <img class="icon-c-collapsed" src="/assets/images/cohesion-c-70x68.png" height="60"/>
          <img class="icon-c-logo" src="/assets/images/cohesion-logo.png" height="60"/>
        </a>
    </div>
  </div>

  <!-- Button mobile view to collapse sidebar menu -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div>
        <ul class="nav navbar-nav navbar-right pull-right">
          <li class="dropdown top-menu-item-xs">
            <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
              <img src="{{.profile.PictureURL}}" alt="user-img" class="img-circle">
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)"><i class="ti-user m-r-10 text-custom"></i> Profile</a></li>
              <li><a href="javascript:void(0)"><i class="ti-settings m-r-10 text-custom"></i> Settings</a></li>
              <li><a href="javascript:void(0)"><i class="ti-lock m-r-10 text-custom"></i> Lock screen</a></li>
              <li class="divider"></li>
              <li><a id="btn-logout" href=""><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<!-- Top Bar End -->
{{ end }}
