{{ define "view-stylesheets-dashboard/beta-tester"}}

{{ end }}

{{ define "view-footer-scripts-dashboard/beta-tester"}}

{{ end }}

{{ define "user-left-sidebar-dashboard/beta-tester" }}
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <!--- Divider -->
    <div id="sidebar-menu">
      <ul></ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- Left Sidebar End -->
{{ end }}
