<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Welcome to the Cohesion Education Beta Test Program</h4>
        <p>
          You will be guided through a few test scenarios, after which you will
          be presented with a survey. Thank you for your participation and for your feedback!
        </p>
    </div>
</div>
