<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Welcome to Cohesion Education</h4>
        <p>
          Thank you for enrolling in our exciting new product! We expect to officially launch this Fall.
        </p>
        <p>
          In the meantime, sign up for our newsletter or request to join our early access Beta program.
        </p>
        <form id="preferences" class="form-horizontal" method="post" action="/api/profile/preferences">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" name="preferences.newsletter" value="on" {{if .profile.Preferences.Newsletter}}checked{{end}}>
              <label>Sign up for our Newsletter</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" name="preferences.betaprogram" value="on" {{if .profile.Preferences.BetaProgram}}checked{{end}}>
              <label>Sign up for our early access Beta program</label>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Save" />
          </div>
        </form>
    </div>
</div>
