<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Welcome to Cohesion Education!</h4>
        <p class="text-muted page-title-alt"></p>
    </div>
</div>
